<form [formGroup]="repositoryForm">
  <input type="text" formControlName="input" name="input" />
  <button type="submit" (click)="search()">Search</button>
  <button type="submit" (click)="getBookmark()">Get Bookmark</button>
</form>

<table mat-table [dataSource]="items" class="mat-elevation-z8">
  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef>Avatar</th>
    <td mat-cell *matCellDef="let element">
      <img src="{{ element.owner.avatar_url }}" width="100px" />
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="Bookmark">
    <th mat-header-cell *matHeaderCellDef>Bookmark</th>
    <td mat-cell *matCellDef="let element">
      <button
        id="{{ element.id }}"
        (click)="
          bookmark({
            id: element.id,
            name: element.name,
            avatar: element.owner.avatar_url
          })
        "
      >
        Bookmark
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
